body, html {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    font-size: 0.28rem;
}

.head {
    margin-top: 0.48rem;
    display: flex;
    text-align: center;
    box-sizing: border-box;

    div {
        flex: 1;
    }
    .title {
        text-align: left;
        position: relative;
        padding-top: 0.3rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #999999;

        &::before {
            content: "";
            border-right: 0.02rem solid #DDDDDD;
            height: 0.36rem;
            position: absolute;
            top: 0.32rem;
            left: -0.42rem;
            display: inline-block;
        }
    }
}

.main {
    .tips {
        background: #eaf4ff;
        border-radius: 0.16rem;
        height: 1rem;
        width: 95%;
        margin: 0.56rem auto 0;
        text-align: center;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #0079FF;
        padding-top: 0.18rem;
        box-sizing: border-box;

        img {
            vertical-align: middle;
            margin-right: 0.1rem;
        }
    }

    .info {
        width: 95%;
        margin: 0.36rem auto 0.32rem;
        background: #FFFFFF;
        box-shadow: 0rem 0.04rem 0.24rem 0rem rgba(0, 0, 0, 0.08);
        border-radius: 0.16rem;
        padding: 0 0.1rem;
        box-sizing: border-box;
        .info-item{
            display: flex;
            height: 1.1rem;
            line-height: 1.1rem;
            border-bottom: 0.02rem dotted #DDDDDD;
            margin: 0.16rem auto;
            .left{
                width: 1.6rem;
                text-align: center;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #333333;
                text-align: right;
                .require{
                    color: #FF3333
                }
            }
            .right{
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #FF3333;
                margin-left: 20px;
                .input{
                    display: inline-block;
                    width: 4.48rem;
                    height: 0.8rem;
                    background: #F9F9F9;
                    border-radius: 4px;
                    border: 1px solid #DDDDDD;
                    outline: none;
                    padding-left: 10px;
                }
            }
            .pay{
                color: #07AC68;
            }
        }
        .bottom{
            border: none;
        }
    }

    .form{
        width: 95%;
        margin: 0.5rem auto;
        height: auto;
        background: #FFFFFF;
        box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        overflow: hidden;
    }

    .btn{
        margin:0.64rem auto;
        width: 75%;
        display: block;
        height: 0.88rem;
        background: linear-gradient(180deg, #00B1FF 0%, #0079FF 100%);
        box-shadow: 0rem 0.08rem 0.32rem  0rem rgba(0, 174, 255, 0.3);
        border-radius: 0.44rem;
        border: none;
        outline: none;
        color: #fff;
        font-size: 0.32rem;
    }
}