<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${payment.name}">Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="static/images/favicon.ico" type="image/x-icon" rel="Bookmark">
    <link href="static/images/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link type="text/css" rel="stylesheet" href="static/css/index.css" th:href="@{static/css/index.css}" >
    <script type="text/javascript" src="static/js/index.js" th:src="@{static/js/index.js}"></script>
</head>
<body>

</body>
</html>